<ion-header>
  <ion-toolbar color= "primary">
    <ion-title >
       SRM GPA CALCI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
          <ion-row>
          
          
            <ion-col>
              <ion-text >
                <h5>S.NO.</h5>
              </ion-text>
            </ion-col>

            <ion-col>
                <ion-text>
                  <h5> CREDITS</h5>
                </ion-text>
              </ion-col>

              <ion-col>
                  <ion-text>
                    <h5> GRADE</h5>
                  </ion-text>
                </ion-col>

          </ion-row>

          <ion-row>
          
          
              
  
              <ion-col>
                   <ion-text>
                    <h5>   1.</h5>
                    </ion-text>
                </ion-col>
  
                <ion-col>
                  <ion-item>

                    <ion-label position = "floating"> VALUE</ion-label>
                    <ion-input type="number" [(ngModel)]="cr1"></ion-input>
                  </ion-item>
                   
                  </ion-col>

                  <ion-col>
                      <ion-item>
    
                        <ion-label position = "floating"> VALUE</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                       
                      </ion-col>
  
            </ion-row>


            <ion-row>
          
          
              
  
                <ion-col>
                     <ion-text>
                      <h5>   2.</h5>
                      </ion-text>
                  </ion-col>
    
                  <ion-col>
                    <ion-item>
  
                      <ion-label position = "floating"> VALUE</ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                     
                    </ion-col>
  
                    <ion-col>
                        <ion-item>
      
                          <ion-label position = "floating"> VALUE</ion-label>
                          <ion-input></ion-input>
                        </ion-item>
                         
                        </ion-col>
    
              </ion-row>

              
              <ion-row>
          
          
              
  
                  <ion-col>
                       <ion-text>
                        <h5>   3.</h5>
                        </ion-text>
                    </ion-col>
      
                    <ion-col>
                      <ion-item>
    
                        <ion-label position = "floating"> VALUE</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                       
                      </ion-col>
    
                      <ion-col>
                          <ion-item>
        
                            <ion-label position = "floating"> VALUE</ion-label>
                            <ion-input></ion-input>
                          </ion-item>
                           
                          </ion-col>
      
                </ion-row>

                

                <ion-row>
          
          
              
  
                    <ion-col>
                         <ion-text>
                          <h5>   4.</h5>
                          </ion-text>
                      </ion-col>
        
                      <ion-col>
                        <ion-item>
      
                          <ion-label position = "floating"> VALUE</ion-label>
                          <ion-input></ion-input>
                        </ion-item>
                         
                        </ion-col>
      
                        <ion-col>
                            <ion-item>
          
                              <ion-label position = "floating"> VALUE</ion-label>
                              <ion-input></ion-input>
                            </ion-item>
                             
                            </ion-col>
        
                  </ion-row>

                  

                  <ion-row>
          
          
              
  
                      <ion-col>
                           <ion-text>
                            <h5>   5.</h5>
                            </ion-text>
                        </ion-col>
          
                        <ion-col>
                          <ion-item>
        
                            <ion-label position = "floating"> VALUE</ion-label>
                            <ion-input></ion-input>
                          </ion-item>
                           
                          </ion-col>
        
                          <ion-col>
                              <ion-item>
            
                                <ion-label position = "floating"> VALUE</ion-label>
                                <ion-input></ion-input>
                              </ion-item>
                               
                              </ion-col>
          
                    </ion-row>

                    

                    <ion-row>
          
          
              
  
                        <ion-col>
                             <ion-text>
                              <h5>   6.</h5>
                              </ion-text>
                          </ion-col>
            
                          <ion-col>
                            <ion-item>
          
                              <ion-label position = "floating"> VALUE</ion-label>
                              <ion-input></ion-input>
                            </ion-item>
                             
                            </ion-col>
          
                            <ion-col>
                                <ion-item>
              
                                  <ion-label position = "floating"> VALUE</ion-label>
                                  <ion-input></ion-input>
                                </ion-item>
                                 
                                </ion-col>
            
                      </ion-row>

                      

                      <ion-row>
          
          
              
  
                          <ion-col>
                               <ion-text>
                                <h5>   7.</h5>
                                </ion-text>
                            </ion-col>
              
                            <ion-col>
                              <ion-item>
            
                                <ion-label position = "floating"> VALUE</ion-label>
                                <ion-input></ion-input>
                              </ion-item>
                               
                              </ion-col>
            
                              <ion-col>
                                  <ion-item>
                
                                    <ion-label position = "floating"> VALUE</ion-label>
                                    <ion-input></ion-input>
                                  </ion-item>
                                   
                                  </ion-col>
              
                        </ion-row>

                        
                        <ion-row>
          
          
              
  
                            <ion-col>
                                 <ion-text>
                                  <h5>   8.</h5>
                                  </ion-text>
                              </ion-col>
                
                              <ion-col>
                                <ion-item>
              
                                  <ion-label position = "floating"> VALUE</ion-label>
                                  <ion-input></ion-input>
                                </ion-item>
                                 
                                </ion-col>
              
                                <ion-col>
                                    <ion-item>
                  
                                      <ion-label position = "floating"> VALUE</ion-label>
                                      <ion-input></ion-input>
                                    </ion-item>
                                     
                                    </ion-col>
                
                          </ion-row>

                          

                          <ion-row>
          
          
              
  
                              <ion-col>
                                   <ion-text>
                                    <h5>   9.</h5>
                                    </ion-text>
                                </ion-col>
                  
                                <ion-col>
                                  <ion-item>
                
                                    <ion-label position = "floating"> VALUE</ion-label>
                                    <ion-input></ion-input>
                                  </ion-item>
                                   
                                  </ion-col>
                
                                  <ion-col>
                                      <ion-item>
                    
                                        <ion-label position = "floating"> VALUE</ion-label>
                                        <ion-input></ion-input>
                                      </ion-item>
                                       
                                      </ion-col>
                  
                            </ion-row>

                            
                            <ion-row>
          
          
              
  
                                <ion-col>
                                     <ion-text>
                                      <h5>   10.</h5>
                                      </ion-text>
                                  </ion-col>
                    
                                  <ion-col>
                                    <ion-item>
                  
                                      <ion-label position = "floating"> VALUE</ion-label>
                                      <ion-input></ion-input>
                                    </ion-item>
                                     
                                    </ion-col>
                  
                                    <ion-col>
                                        <ion-item>
                      
                                          <ion-label position = "floating"> VALUE</ion-label>
                                          <ion-input></ion-input>
                                        </ion-item>
                                         
                                        </ion-col>
                    
                              </ion-row>

                              
                              <ion-row>
          
          
              
  
                                  <ion-col>
                                       <ion-text>
                                        <h5>   11.</h5>
                                        </ion-text>
                                    </ion-col>
                      
                                    <ion-col>
                                      <ion-item>
                    
                                        <ion-label position = "floating"> VALUE</ion-label>
                                        <ion-input></ion-input>
                                      </ion-item>
                                       
                                      </ion-col>
                    
                                      <ion-col>
                                          <ion-item>
                        
                                            <ion-label position = "floating"> VALUE</ion-label>
                                            <ion-input></ion-input>
                                          </ion-item>
                                           
                                          </ion-col>
                      
                                </ion-row>

                                
                                <ion-row>
          
          
              
  
                                    <ion-col>
                                         <ion-text>
                                          <h5>   12.</h5>
                                          </ion-text>
                                      </ion-col>
                        
                                      <ion-col>
                                        <ion-item>
                      
                                          <ion-label position = "floating"> VALUE</ion-label>
                                          <ion-input></ion-input>
                                        </ion-item>
                                         
                                        </ion-col>
                      
                                        <ion-col>
                                            <ion-item>
                          
                                              <ion-label position = "floating"> VALUE</ion-label>
                                              <ion-input></ion-input>
                                            </ion-item>
                                             
                                            </ion-col>
                        
                                  </ion-row>

                                  
                        

            
      
       
</ion-content>

<ion-footer>
     <ion-row>
       <ion-col>
     <ion-button >submit</ion-button>
     </ion-col>
       
     <ion-col>
        <ion-button >reset</ion-button>
        </ion-col>

        <ion-col>
            <ion-item>
                          
                <ion-label position = "floating" fill = "clear"> RESULT</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>

     </ion-row>
  </ion-footer>
